html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.globe {
  width: 700px;
}

}
p{
font-family: 'Lobster Two', cursive;
font-size: 400px;

}

body {
background-color: blue;
}
section{
  background-image: url('https://www.stickpng.com/assets/images/5a00de3d0e8525eec2752ffe.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
}

h1{
  background-color: green;
    color: white;
    font-family: 'Permanent Marker', cursive;
    font-size: 100px;
}



}
.main {
  background-color: #add8e6;
}

/*PAGE HEADER */
